.flex-container {
    margin: 120px;
    display: flex;
    flex-direction: column;
    background-color: #09f;
    height: 600px;
    width: 800px;
}

.flex-container>div {
    margin: 1%;
}

#title {
    height: 12%;
    padding: 10px;
    background-color: #3ff;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0;
    margin-bottom: 5px;
}

#flex>p {
    margin: 0;
    color: #ef1b13;
    padding-right: 8px;
}

p {
    margin: 0%;
    text-decoration: underline;
    /* makes the underline not skib letters that hang to low*/
    text-decoration-skip-ink: none;
}

#flex {
    /* allows the "links" in the aqua box be in a row*/
    display: flex;
    background-color: unset;
}

main {
    height: 100%;
    display: flex;
    margin: 1%;
    margin-top: 0%;
}

#redbox {
    width: 100%;
    background-color: #c00;
    padding-left: 1%;
    padding-top: 10px;
}

#yellowbackground {
    width: 22%;
    margin-right: 1%;
    background-color: #ffff00;
}

#yellowbackground>div {
    margin-bottom:7%;
    width: 100%;
    height: 20%;
    background-color: #009900;
    color: #0005e8;

}

span>div>p{
    padding-top: 10%;
    padding-left: 5%;
    font-weight:700;
}